{% extends "base_generic.html" %}

{% load pytils_dt %}
{% load pretty_print %}


{% block content %}
<p>
На данном сайте собрана коллекция протоколов лыжных соревнований 
в за 2000&ndash;2009 года. Кроме того, была сделана попытка увязать 
данные, относящиеся к одному и тому же спортсмену. Однако данные в 
протоколах зачастую содержали ошибки и описки. Был ипсользован 
специальный метод сличения записей, который позволял выявлять небольшие
неточности. Тем не менее, в результате такого такого сличения могли были 
быть также объединены данные, относящиеся к разным спортсменам.
</p>

<p>Здесь Вы можете:
<ul>
  <li><a href="/">просматривать</a> протоколы соревнований за прошлые годы;</li>
  <li><a href="/search">искать</a> данные о спортсмене по его фамилии, имени;</li>
  <li><a href="/compare">сравнивать</a> результаты спортсменов между собой.</li>
</ul>

{% endblock %}
