{% extends "base_generic.html" %}

{% load pytils_dt %}
{% load pretty_print %}

{% block left %}
<div class="seasons">
{% for cg, tmp in comp_groups %}
<div class="actions">
<a href="#{{ cg|urlencode }}">{{ cg }}</a>
</div>
{% endfor %}
</div>
{% endblock %}



{% block content %}
<form action="/search" method="get" name="search" id="search">
<input id="query" class="emptySearch" placeholder="Найти спортсмена в протоколах" maxlength="80" value="" name="query" type="text"> 
 <script type="text/javascript">
   $(document).ready(function(){ 
   $('#query').placeholder();
   });    
 </script>
<div class="sampleSearch">
Например, <span class="pseudolink"
                onClick="$('#query').focus().val('{{ sample_search }}')">
    {{ sample_search }}
</span>
</nobr>
</div>
</form>


{% for cg, dglist in comp_groups %}
<div class="season_res">
<h2 class="season">{{ cg }}
  <a class="anchor" name="{{ cg|urlencode }}" href="#{{ cg|urlencode }}">§</a></h2>
<div class="comp_list">
  {% for date, comp_list in dglist %}
  <div class="date">{{ date|ru_strftime:"%d %B" }}</div>
  {% for c in comp_list %}
  <div class="competition">    
    <div class="place">{{ c.place|default:"" }}</div>
    <div class="title">{{ c.name }}</div>
    {% for p in c.competitions.all %}
    <div class="protocol">
      <a href="{% url protocoller.miner.views.protocol p.id %}" >{{ p }}</a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  {% endfor %}
</div>
</div>
{% endfor %}

{% endblock %}

{% block right %}
<div class="hint">
На сайте собраны результаты соревнований по лыжным гонкам 
за несколько лет.
<p>
Кроме просмотра протоколов здесь можно также:
<ul>
  <li><a href="/search">искать</a> результаты спортсмена по его фамилии, имени;</li>
  <li><a href="/compare">сравнивать</a> результаты спортсменов между собой.</li>
</ul>
</div>
{% endblock %}
