{% extends "base_generic.html" %}

{% load pytils_dt %}
{% load pretty_print %}

{% block content %}

<div class="comp-header">
  <p class="place">{{ comp.place|default:"" }}</p>
  <p class="name">{{ comp }}</p>
  <p class="date">{{ comp.event.date|ru_strftime:"%d %B %Y" }}</p>
  <p><a href="{% url protocol comp.id %}">абсолютный зачет</a></p>
</div>

<table class="protocol">
{% for group, results in result_groups %}
<tr><th colspan="8" class="group">Группа {{ group }}</th></tr>

<tr class="head">
  <th>М(грп)</th>
  <th>Номер</th>
  <th>Фамилия Имя</th>
  <th>Звание</th>
  <th>Г.р.</th>
  <th>Город</th>
  <th>Клуб</th>
  <th>Рез-тат</th>
</tr>

{% for r in results %}
<tr class="{% cycle odd,even %}">
  <td>{% print_grp_pos r %}</td>
  <td>{{ r.number|default:"" }}</td>
  <td><a href="{% url person_results r.person.id %}">{{ r.person.full_name }}</a></td>
  <td>{{ r.person.get_rank_display }}</td>
  <td>{{ r.person.year }}</td>
  <td>{{ r.person.city|default:"" }}</td>
  <td>{{ r.person.club|default:"" }}</td>
  <td>{% print_time r %}</td>
</tr>
  {% endfor %}

{% endfor %}

</table>

{% endblock %}
