*{
    padding: 0;
    margin: 0;
}

body {
    font: normal medium Trebuchet MS, Tahoma, sans-serif;
    margin: 0;
    padding: 0 0 10px 0;
}


#toolbar {
    background-color:#EEEEEE;
    display: block;
    height: 40px;
}

#menu{
    font: normal 85% Trebuchet MS, Tahoma, sans-serif;
}

#menu ul{
    padding: 0;
    margin: 0;
    list-style: none outside none;
    display:inline;
}

#menu li{
    float: left;
    padding: 0;
    margin: 0;
}

#menu ul li a {
    padding: 14px 10px 12px 10px;
    display: block;
}


/* dropdown menus */
#menu{
    z-index: 11;
}
.sf-menu, .sf-menu * {
    margin:		0;
    padding:		0;
    list-style:		none;
}
.sf-menu {
    line-height:	1.0;
    font-size:		14px;
}
.sf-menu ul {
    position:		absolute;
    top:		-999em;
    width:		10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
    width:		100%;
}
.sf-menu li:hover {
    visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
    float: left;
    position:		relative;
}
.sf-menu a {
    display:		block;
    position:		relative;
/*    height: 20px;
    color:			#888;
    border-right:1px solid #fff;*/
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    left:		-1px;
    top:		30px; /* match top ul list item height */
    z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    left:			10em; /* match ul width */
    top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
    top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    left:			10em; /* match ul width */
    top:			0;
}
.sf-menu {
    float:left;
    margin-bottom:1em;
    width:100%;
 /*   border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    background:#e8e8e8;*/
}
.sf-menu a {
    padding:10px 30px;
    text-decoration:none;
}
.sf-menu a:hover
{
/*    color:#444;*/
}

.sf-menu li {
    background:none;
}
.sf-menu li li {
    background: #EEEEEE;
}
.sf-menu li li li,
.sf-menu li li li li {
    background: #EEEEEE;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active,
.sf-menu li.sfHover a
{
   /* background:#fff;*/
    outline:		0;
}
.sf-menu LI.current_page_item
{
/*    background:#dbdbdb;*/
}
.sf-menu a.sf-with-ul {
    min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}

.sf-menu .sf-sub-indicator
{
    display:none;
}
/*.sf-menu LI UL .sf-sub-indicator
{
    display:inline;
    float:right;
    position:absolute;
    top:10px;
    right:10px;
    color:#ccc;
}*/
/*
.sf-menu small
{
    display:block;
    font-size:10px;
}*/
.sf-menu li.end
{
    position:absolute;
    right:0px;
    top:0px;
}
.sf-menu li.end a,
.sf-menu li.end:hover
{
    background:none;
    border:0;
}

.profile{
    height: 20px;
    padding: 10px;
}

.profile-image img{
    vertical-align: middle;
}

/*end menu css*/


/* search form 
-------------------------------------- */

.searchform {
    float: left;
    padding: 8px 8px 8px 0px;
}
.searchform .searchfield {
    font: normal 14px/100% Arial, Helvetica, sans-serif;
    background: #fff;
    padding: 4px 6px 4px 6px;
    border: solid 1px #bcbbbb;
    outline: none;
    width: 180px;
}

#session{
    padding: 10px 0px;
}


#content h1{
    font:120% Georgia,serif;
    text-transform:uppercase;
}

#content h2{
    font:1.2em Georgia,serif;
}

.place{
    font:0.9em Trebuchet MS, Tahoma, sans-serif;
}

.event_group{
    margin-bottom: 1em;
}

.event{
    margin-top:0.5em;
    margin-bottom:1em;
    overflow: auto;
}

.event h2{
    margin: 3px 0px 10px 0px;
}

.event h5{
    margin-bottom: 0em;
}

.event img{
    float:left;
    padding: 3px;
}

/* .date{ */
/*     margin: 16px 0px 7px 0px; */
/* } */


h3.date{
    margin-bottom: 1em;
}

.event h3{
    font:100% Georgia,serif;
    text-transform:uppercase;
    margin: 4px 0px 10px 0px;
}

.event .date{
    font:1em Georgia,serif;
}

.event a{
    text-decoration: none;
/*    color: #660066;*/
}

.comp a{
    text-decoration: none;
/*    color: #660066;*/
}

.comp{
    background-color: #FFEFC6;
    padding: 3px;
    margin-top: 0.5em;
    margin-bottom: 1em;
}


a.counter{
    color:#333333;
    display: block;
    font-size: 11px;
    text-decoration: none;
}

a.counter:hover{
    text-decoration:underline;
}

span.counter-value{
    color:#0084B4;
    display:block;
    font-size:15px;
    font-weight:bold;
    text-decoration: none;
}

.protocol{
    /*font: 80% Arial;*/
    line-height: 1.4em;
}

.widener .full { position: absolute; background: #fffcdc; z-index: 10; display: none; }
.widener:hover { background: #fffcdc }
.widener:hover .full { display: inline; border-top: 1px #fff solid; border-bottom: 1px #fff8b8 solid; margin: -1px -.33em; padding: 0 .33em; }
.widener:hover .short { displa-: none }

.protocol tbody tr:hover{
    background: #eef0f4;
}

table.protocol{
    border-collapse: collapse;
}

.protocol td{
    padding:2px 4px;
}

.hl {background-color: #FFEFC6;}


.form legend{
    color: #003366;
    font-size: 1.3em;
    margin: 1em 0;
    padding: 0 0.5em;
}

.form label{
    float: left;
    padding: 0 1em;
    text-align: right;
    width: 150px;
}

.form input{
    border-color:#555555 #CCCCCC #CCCCCC #555555;
    border-style:solid;
    border-width:1px;
    color:#333333;
    padding:1px;
    width:200px;
}

input.short-field {
    width: 50px;
}


.form div{
    display:block;
    margin-bottom:0.5em;
    padding:0;
}

.form textarea:focus, input:focus {
        border: 1px solid #900;
}

#fm-submit{
   clear:both;
   padding-top:1em;
   text-align:center; 
}

#fm-submit input{
    font-size:100%;
    padding:2px 1em;
}

.ctrlHolder{
    clear: left;
}

.form .errorField{ color: red; margin: 0 0 6px 0; padding: 4px; }

.form input[type="submit"] {
    -moz-border-radius:4px 4px 4px 4px;
    -moz-box-shadow:0 1px 0 #F8F8F8;
    border-color:#BBBBBB #BBBBBB #999999;
    border-style:solid;
    border-width:1px;
    color:#333333 !important;
    cursor:pointer;
    display:inline-block;
    font:12px/15px Helvetica Neue,Arial,"Lucida Grande",Sans-serif;
    margin:0;
    overflow:hidden;
    padding:5px 9px;
    text-shadow:0 1px #F0F0F0;
    width: auto;
}


ul.plain_list {
    padding: 0;
    margin: 0;
    list-style: none outside none;
    display:inline;
}

.plain_list li{
    float: left;
    padding: 2px;
    margin: 0;
}


.search_results{
    padding-left: 0em;
    margin:0 0.7em 0.7em 0;
}

.search_results{
    list-style:none outside none;
}

.search_results li{
    margin-bottom:0.4em;
}

.infoTable {
    border:0 none;
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
}

.infoTable .label {
    color:#666666;
    font-size:11px;
    font-weight:normal;
    padding-top:0;
}

.infoTable th.label {
    text-align:left;
    vertical-align:top;
    width:90px;
}

a.person {
#    display:inline;
    text-decoration: none;
}

.pseudolink {
    border-bottom:1px dashed #4F3D2B;
    color:#1A3DC1;
    cursor:pointer;
    display:inline;
    text-decoration:none;
}

#add_comment{
    margin-top: 1em;
}

#add_comment #id_comment{
    width: 100%;
}

.buttons{
    margin-top: 1em;
    margin-bottom: 1em;
}

.userName{
    color: #234B7B;
}

.commentDate{
    color:#666666;
}

ol.commentsList{
    list-style:none outside none;
    padding-left: 0;
}

li.comment{
    margin-bottom:1em;
    margin-top:1em;
}

:hover > a.anchor {
    visibility:visible;
}
a.anchor {
    color:#1A3DC1;
    text-decoration:none;
    visibility:hidden;
}

#content img{
    max-width: 960px;
}


.a_time{
    display: inline;
    text-align: right;
}

h4.place{
    margin-bottom:0em;
}

th.sat, th.sun{
    color:red;
}

td.today{
    border-style:solid;
    border-color:red;
    border-width:1px;
}


.comment-bubble {
float : right;
width : 48px;
height : 48px;
background : url(../img/comment.png) no-repeat;
font-size : 18px;
margin-top : -15px;
margin-right : 2px;
text-align : center;
position:absolute;
}

button.css3button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    margin-bottom:10px;
    background: -moz-linear-gradient(
        top,
        #42cdff 0%,
        #002266);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#42cdff),
        to(#002266));
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #012c40;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
}

ul.comp_list{
    margin:0 1em 1em 0;
}

.comp_list li{
    list-style: none outside none;
}

div.month_events{
    clear:left;
}