{% extends "registration/registration_base.html" %}
{% block title %}{% if account %}Учетная запись активирована{% else %}Ошибка при активации{% endif %}{% endblock %}
{% block content %}
<div class="grid_10">
  {% if account %}
  Спасибо {{ account }}, активация успешно завершена!  Вы можете <a href='{% url auth_login %}'>войти</a> на сайт, используя указанные имя пользователя и пароль.
  {% else %}
  Похоже, что Ваша ссылка для активации некорректная, проверьте ее еще раз.
  {% endif %}
</div>
{% endblock %}

