{% extends "registration/registration_base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row">
    <div class="span10">

    {% if form.errors %}
        <div class="alert">
            <p>Неверное имя пользователя или пароль.</p>
        </div>
    {% endif %}

    <form class="form" method="post" action="{% url django.contrib.auth.views.login %}">
        {% csrf_token %}
      {% load crispy_forms_tags %}
      {{ form|crispy }}

      <button class="btn btn-success" type="submit">Войти</button>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p><a href="{% url auth_password_reset %}">Забыли</a> свой пароль?  <a href="{% url registration_register %}">Создать новую учетную запись</a>?</p>
    </div>
</div>
{% endblock %}
