{% extends "registration/registration_base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="grid_10">

{% if form.errors %}
<p>Неверное имя пользователя или пароль.</p>
{% endif %}

<form class="form" method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
  {% load uni_form_tags %}
  {{ form|as_uni_form }}

  <input type="submit" value="Войти" />
  <p><a href="{% url auth_password_reset %}">Забыли</a> свой пароль?  <a href="{% url registration_register %}">Создать новую учетную запись</a>?</p>

  
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock %}
