{% extends "registration/registration_base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<div class="row">
    <div class="span10">
      Забыли пароль? Введите адрес электронной почты в поле внизу и Вам будет выслано письмо 
      с инструкциями для смены пароля.
      <form method='POST' action='' class="form">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <button class="btn" type='submit'>Сбросить пароль</button>
      </form>
    </div>
</div>
{% endblock %}
