body {
    font: normal medium Trebuchet MS, Tahoma, sans-serif;
}

#toolbar {
    background-color:#EEEEEE;
    height: 40px;
}

#menu{
    font: normal 85% Trebuchet MS, Tahoma, sans-serif;
}

#menu ul{
    padding: 0;
    margin: 0;
    list-style: none outside none;
    display:inline;
}

#menu li{
    display: inline;
}

#menu ul li a {
    padding: 10px;
}


/* search form 
-------------------------------------- */
.searchform {
	display: inline-block;
	zoom: 1; /* ie7 hack for display:inline-block */
	*display: inline;
	padding: 5px 3px;
	background: #f1f1f1;
}
.searchform input {
	font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
	background: #fff;
	padding: 6px 6px 6px 8px;
	border: solid 1px #bcbbbb;
	outline: none;
        width: 180px;

/*	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;*/

	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}

#session{
    padding: 10px 0px;
}

#content h1{
    font:120% Georgia,serif;
    text-transform:uppercase;
}

#content h2{
    font:100% Georgia,serif;
}

.place{
    font:80% Trebuchet MS, Tahoma, sans-serif;
}


.event h2{
    margin: 3px 0px 10px 0px;
}

.date{
    margin: 16px 0px 7px 0px;
}

.event h3{
    font:100% Georgia,serif;
    text-transform:uppercase;
    margin: 4px 0px 10px 0px;
}

.event .date{
    font:85% Georgia,serif;
}

.event a{
    text-decoration: none;
    color: #660066;
}

.comp a{
    text-decoration: none;
    color: #660066;
}


a.counter{
    color:#333333;
    display: block;
    font-size: 11px;
    text-decoration: none;
}

a.counter:hover{
    text-decoration:underline;
}

span.counter-value{
    color:#0084B4;
    display:block;
    font-size:15px;
    font-weight:bold;
    text-decoration: none;
}

.protocol{
    font: 80% Arial;
    line-height: 1.4em;
}

a.person{
    text-decoration: none;
}

.widener .full { position: absolute; background: #fffcdc; z-index: 10; display: none; }
.widener:hover { background: #fffcdc }
.widener:hover .full { display: inline; border-top: 1px #fff solid; border-bottom: 1px #fff8b8 solid; margin: -1px -.33em; padding: 0 .33em; }
.widener:hover .short { displa-: none }

.protocol tbody tr:hover{
    background: #eef0f4;
}

table.protocol{
    border-collapse: collapse;
}

.protocol td{
    padding:2px 4px;
}

.dns { background: #ccc }
.dnf { background: #c99; color: #600 }
.dsq { color: #c00; text-decoration: line-through; }
.dsq-2 { color: #c00; font-size: 70% }
.dsq-reason { color: #c00; font-size: 85%; }


.form legend{
    color: #003366;
    font-size: 1.3em;
    font-weight: bold;
    margin: 1em 0;
    padding: 0 0.5em;
}

.form label{
    float: left;
    padding: 0 1em;
    text-align: right;
    width: 150px;
}

.form input{
    border-color:#555555 #CCCCCC #CCCCCC #555555;
    border-style:solid;
    border-width:1px;
    color:#333333;
    padding:1px;
    width:200px;
}


.form div{
    display:block;
    margin-bottom:0.5em;
    padding:0;
}

#fm-submit{
   clear:both;
   padding-top:1em;
   text-align:center; 
}

#fm-submit input{
    font-size:100%;
    padding:2px 1em;
}

/* Messages */
.form .errorField{ color: red; margin: 0 0 6px 0; padding: 4px; }
