{% extends "base.html" %}

{% load pytils_dt %}
{% load pretty_print %}


{% block content %}
<p>
На сайте собраны протоколы лыжных соревнований 
за 2000&ndash;2009 года. Данные в протоколах были обработаны так, 
чтобы можно было выбирать записи, относящиеся к одному и тому же
спортсмену. Тем не менее, в следствие ошибок в исходных данных и из-за 
особенностей работы алгоритма, сличающего данные о спортсменах,
могли быть объединены данные, относящиеся к разным спортсменам.
</p>

<p>Здесь Вы можете:
<ul>
  <li><a href="/">просматривать</a> протоколы соревнований за прошлые годы;</li>
  <li><a href="/search">искать</a> данные о спортсмене по фамилии и имени;</li>
  <li><a href="/compare">сравнивать</a> результаты спортсменов между собой.</li>
</ul>

<p>
Предложения и замечания по реализации можно присылать на адрес
<a href="mailto:protocoller@gmail.com">protocoller@gmail.com</a>.

{% endblock %}
