{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<script src="http://api-maps.yandex.ru/1.1/index.xml?key={{ MAPS_API_KEY }}" type="text/javascript"></script>
<script type="text/javascript">
        var map, place;

        function init_map(point){
            var mapContainer = YMaps.jQuery("#YMapsID");
            map = new YMaps.Map(mapContainer[0]);
            mapContainer.css("display", "");
            map.setCenter(point, 10);
            map.addControl(new YMaps.Zoom());
            map.addControl(new YMaps.SearchControl());
            map.enableScrollZoom();

            YMaps.Events.observe(map, map.Events.Click, function (map, mEvent) {
                update_form_fields(mEvent.getGeoPoint());
                                
                if(place != null){
                      place.setGeoPoint(mEvent.getGeoPoint());
                }else{
                      create_placemark(mEvent.getGeoPoint());
                }    
                });
        }

        function create_placemark(point){
            place = new YMaps.Placemark(point, {draggable: true});
            map.addOverlay(place);
            YMaps.Events.observe(place, place.Events.DragEnd, function (obj){
                    update_form_fields(obj.getGeoPoint());
            });
        }

        function update_form_fields(point){
            //обновляет id_location, а также запрашивает адрес у геокодера и 
            //устанавливает значение адреса
            $('#id_location').val(point); 

            var geocoder = new YMaps.Geocoder(point, {results: 1});
            // Обработчик успешного завершения процесса геокодирования
            YMaps.Events.observe(geocoder, geocoder.Events.Load, function () {
                if (this.length()) {
                    $('#id_address').val(this.get(0).text);
                }
            });
        }

        YMaps.jQuery(function() {
                if($('#id_location').val() != ''){
                    //создадим карту и отметим место на ней
                    var loc = $('#id_location').val().split(',');
                    var point = new YMaps.GeoPoint(loc[0], loc[1]);
                    init_map(point);
                    create_placemark(point);
                }else{
                    //покажем ссылку для открытия карты
                    YMaps.jQuery("#id_map_show_link").css("display", "");
                }
        });
                
        function showMap () {
            YMaps.load(function() {
                // При щелчке на карте показывается балун со значениями координат 
                // указателя мыши и масштаба
                var mapContainer = YMaps.jQuery("#YMapsID");
                init_map(new YMaps.GeoPoint(37.64, 55.76));
                mapContainer.css("display", "");
            });
        }

</script>
{% endblock %}


    {% block content %}
    {% if place.id %}
    <form action="{% url edit_place place.id %}" method="POST" class="form-horizontal">
    {% else %}
    <form action="{% url add_place %}" method="POST" class="form-horizontal">
    {% endif %}
        <div class="row">
            {% csrf_token %}
            {% load crispy_forms_tags %} 
            {{ form.media }}
            {{ form|crispy }}
            <a class="offset2" id="id_map_show_link" href="#" onclick="showMap();return false;">Указать местоположение</a>
            <div id="YMapsID" style="width:800px;height:600px;display:none"></div>
        </div>
        <button class="btn btn-success" type="submit">Сохранить</button>
    </form>
{% endblock %}
