{% extends "base.html" %}
{% load i18n %}

{% block title %}Создать новое соревнование{% endblock %}

{% block content %}

<div class="grid_10">
  {% if user.is_authenticated %}
  {% load uni_form_tags %}
  <script type="text/javascript">
    $(function() {
    $('.dynamic-form').formset({
    prefix: '{{ comp_formset.prefix }}',
    addText: 'Добавить дистанцию',
    deleteText: 'Удалить',
    });
    })
  </script>

  {% if event.id %}
  <form action="{% url edit_event event.id %}" method="POST" class="form">
  {% else %}
  <form action="{% url add_event %}" method="POST" class="form">
      {% endif %}
      {% csrf_token %}
      {{ form.media }}
      {{ form|as_uni_form }}
      <table id="id_forms_table">
      {% for cform in comp_formset.forms %}
      {% if forloop.first %}
      <thead>
        <tr>
          {% for field in cform.visible_fields %}
          <th>{{ field.label|capfirst }}</th>
          {% endfor %}
        </tr>
      </thead>
      {% endif %}
      <tr class="dynamic-form">
        {% if cform.instance.pk %}{{ cform.DELETE }}{% endif %}
        {% for field in cform.visible_fields %}
        <td>
          {# Include the hidden fields in the form #}
          {% if forloop.first %}
          {% for hidden in cform.hidden_fields %}
          {{ hidden }}
          {% endfor %}
          {% endif %}
          {{ field.errors.as_ul }}
          {{ field }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
      </table>
      {{ comp_formset.management_form }}
      <input type="submit" value="Сохранить" />
    </form>
    {% else %}
    Для добавления информации о новом соревновании необходимо 
    <a href="{% url login %}">авторизоваться</a>.
    {% endif %}
</div>
{% endblock %}
