<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/media/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/openid.css" />
    <script type="text/javascript" src="/media/js/jquery-1.4.4.min.js"></script>
    <script src="/media/js/jquery.placeholder-1.0.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="/media/js/openid-jquery.js"></script>
    <script type="text/javascript" src="/media/js/openid-jquery-ru.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
      openid.img_path = '/media/img/';
      openid.init('openid_identifier');
      });
    </script>
    <title>{% block title %}Протоколы лыжных соревнований{% endblock %}</title>
</head>
{% load pretty_print %}

<body> 
  
  <table id="page_table">
    <tr>
      <td></td>
      <td id="menu" class="menu">
        <a href="/events">Календарь</a>
        <a href="/protocols">Протоколы</a>
        <a href="/sportsmen">Спортсмены</a>
        <a href="/about">О сайте</a>
      </td>
      <td>
        {% if user.is_authenticated %}
        {% print_user user %}
        <a href="{% url logout %}">Выйти</a>
        {% else %}
        <p><a href="{% url login %}">Авторизуйтесь</a></p>
        {% endif %}</td>
    </tr>
    <tr id="main">
      <td id="page-left">{% block left %}{% endblock %}</td>
      <td id="content">{% block content %}{% endblock %}</td>
      <td id="page-right">{% block right %}{% endblock %}</td>
    </tr>
    <tr id="footer">
      <td colspan="3">{% block footer %}{% endblock %}</td>
    </tr>
  </table>
  

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8335560-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
