{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html>
<head>
  <meta name='yandex-verification' content='67c1e4110e0581af' />
  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/openid.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/style.css" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{ STATIC_URL }}/img/favicon.ico">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/openid-jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/openid-jquery-ru.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  {% dajaxice_js_import %}
  <script src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
  <title>{% block title %}Протоколы лыжных соревнований{% endblock %}</title>

  {% block extrahead %}{% endblock %}
</head>
{% load pretty_print %}
<body> 
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Protocoller</a>
        <ul class="nav">
          <form class="navbar-search pull-left" action="/search">
            <input name="query" type="text" class="search-query" placeholder="Поиск спортсмена">
          </form>
          <li class="{% if active_tab == 'protocols' %} active{% endif %}"><a href="{% url protocols %}">Протоколы</a></li>
          <li class="{% if active_tab == 'calendar' %} active{% endif %}"><a href="{% url calendar %}">Календарь</a></li>
          <li class="{% if active_tab == 'places' %} active{% endif %}"><a href="{% url places %}">Трассы</a></li>
          <li class="devider-vertical"></li>
        </ul>
        
        <ul class="pull-right nav">
          {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">{% print_user user %}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <!--<li><a tabindex="-1" href="#">Action</a></li>-->
                <li class="divider"></li>
                <li><a tabindex="-1" href="{% url logout %}">Выйти</a></li>
              </ul>
            </li>
          {% else %}
            <li>
              <a href="{% url login %}">Войти</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    
    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
    openid.img_path = '/static/img/';
    openid.init('openid_identifier');
    });
  </script>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8335560-1");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>
  <!-- Yandex.Metrika counter -->
  <div style="display:none;"><script type="text/javascript">
  (function(w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter12352549 = new Ya.Metrika({id:12352549, enableAll: true, webvisor:true});
          }
          catch(e) { }
      });
  })(window, "yandex_metrika_callbacks");
  </script></div>
  <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
  <noscript><div><img src="//mc.yandex.ru/watch/12352549" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

  {% block extrascript %}{% endblock %}
</body>
</html>
