{% extends "base.html" %}
{% load i18n %}
{% load pytils_dt %}
{% load pretty_print %}
{% load markup %}
{% load pytils_numeral %}
{% load thumbnail %}
{% load gencal %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ias.js"></script>
<script type="text/javascript">
jQuery.ias({
  container     : ".event_list",
        // Enter the selector of the element containing
        // your items that you want to paginate.

  item      : ".month_events",
        // Enter the selector of the element that each
        // item has. Make sure the elements are inside
        // the container element.

  pagination    : "#content .navigation",
        // Enter the selector of the element that contains
        // your regular pagination links, like next,
        // previous and the page numbers. This element
        // will be hidden when IAS loads.

  next      : ".next-events a",
        // Enter the selector of the link element that
        // links to the next page. The href attribute
        // of this element will be used to get the items
        // from the next page.

  loader    : "{{ MEDIA_URL }}img/loader.gif"
        // Enter the url to the loader image. This image
        // will be displayed when the next page with items
        // is loaded via AJAX.
});    
</script>
{% endblock %}

{% block content %}
<div class="event_list">
    {% for events in months_events %}
    <div class="month_events">
        <div class="grid_9">
            {% for event in events %}
                <div class="event">
                    <div>
                        <span class="date">{{ event.date|ru_strftime:"%d %B %Y" }}</span>
                        <h3><a href="{% url place event.place.slug %}">{{ event.place }}</a></h3>
                    </div>
                    <div>
                        <h1>{{ event.name }}</h1>
                    </div>
                    
                    <div>
                        {% for comp in event.competitions.all %}
                            <div>
                                {% if comp.processed %}
                                    <a href="{% url protocol comp.id %}">{{ comp }}</a>
                                {% else %}
                                    <span>{{ comp }}</span>
                                {% endif %}
                            </div>  
                        {% endfor %}
                    </div>

                    <div>
                        {% if event.protocol_file %}
                            <a href="{{ event.protocol_file.url }}">Скачать протокол</a>
                        {% endif %}
                        {{ event.description|default:""|markdown }}</div>
                    <div>
                        {{ event.standing|markdown}}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="grid_3">
            {% gencal events year month%}
        </div>
    </div>
    {% endfor %}
    <div class="navigation">
            <div class="next-events">
                <a href="/calendar/{{ next_year }}-{{ next_month }}">Следующие</a>
        </div>
    </div>
</div>
{% endblock %}
