{% extends "base.html" %}
{% load i18n %}
{% load pytils_dt %}
{% load pretty_print %}
{% load markup %}
{% load pytils_numeral %}
{% load thumbnail %}

{% block content %}
<a href="{% url add_event %}">Создать соревнование</a>
{% for event in events %}
    <div class="event">
        <div class="grid_2">
            <span class="date">{{ event.date|ru_strftime:"%d %B %Y" }}</span>
            <h3><a href="{% url place event.place.slug %}">{{ event.place }}</a></h3>
        </div>
        <div class="grid_8">
            <h1>{{ event.name }}</h1>
        </div>
        <div class="grid_2">
          <a href="{% url edit_event event.id %}">Изменить</a>
        </div>

        <div class="clear"></div>
        <div class="grid_8">
          {% for comp in event.competitions.all %}
          {% if forloop.first %}<div class="grid_1 alpha comp">
          {% else %}
          {% if forloop.last %}<div class="grid_1 omega comp">
          {% else %}
          <div class="grid_1 comp">
          {% endif %}
          {% endif %}
          {% if comp.processed %}
          <a href="{% url protocol comp.id %}">{{ comp }}</a>
          {% else %}
          <span>{{ comp }}</span>
          {% endif %}
          </div>  
          {% endfor %}
        </div>
        <div class="grid_4">
          {% if event.image %}
          {% thumbnail event.image "150" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
          {% endthumbnail %}
          {% endif %}
          {% if regs_count > 0 %}
          <a href="" class="counter">
            Заявил{{ regs_count|choose_plural:"ся,ись,ись" }} <span class="counter-value">{{ regs_count }}</span> участник{{ regs_count|choose_plural:",а,ов" }}
          </a>
          {% endif %}
          {% if event.registration_open %}
          <a href="{% url event_registration event.id %}">Заявиться</a>
          {% endif %}
        </div>
        <div class="clear"></div>
        <div class="grid_9">
          {% if event.protocol_file %}
          <a href="{{ event.protocol_file.url }}">Скачать протокол</a>
          {% endif %}
          {{ event.description|default:""|markdown }}</div>
        <div>{{ event.standing|markdown}}
        <div class="clear"></div>
        </div>
    </div>
{% endfor %}
<div class="pager">
    {% if page.has_next %}
        <a href="{% url calendar %}?page=2&per_page={{ per_page }}">Следующие</a>
    {% endif %}
</div>
{% endblock %}
