{% extends "base.html" %}

{% load pytils_dt %}
{% load pretty_print %}

{% block content %}
<div>
  <div class="comp-header">
  <p class="date">{{ event.date|ru_strftime:"%d %B %Y" }}</p>
  <p class="event">{{ name }}</p>
  <p class="place">{{ event.place|default:"" }}</p>
</div>
{% if user.is_authenticated %}
  <form action="{% url event_registration event.id %}" method="POST">
    {% csrf_token %}
    {% load uni_form_tags %}
    {{ form|as_uni_form }}
    <input type="submit" value="Добавить" />
  </form>
{% endif %}
 <table>
   <tr class="head">
     <th>№</th>
     <th>Фамилия Имя</th>
     <th>Пол</th>
     <th>Год</th>
     <th>Квалификация</th>
     <th>Город</th>
     <th>Клуб</th>
   </tr>
{% for r in reg_list %}
   <tr>
     <td>{{ forloop.counter }}</td>
     <td>{{ r.full_name }}</td>
     <td>{{ r.get_sex_display }}</td>
     <td>{{ r.year }}</td>
     <td>{{ r.get_rank_display }}</td>
     <td>{{ r.city }}</td>
     <td>{{ r.club }}</td>
   </tr>
{% endfor %}
</div>
    
{% endblock %}
