{% extends "base.html" %}

{% load pytils_dt %}
{% load pretty_print %}

{% block content %}
<div class="grid_2 event">
  <span class="date">{{ event.date|ru_strftime:"%d %B %Y" }}</span>
  <h3><a href="{% url place event.place.slug %}">{{ event.place }}</a></h3>
</div>
<div class="grid_8">
  <h1>{{ event.name }}</h1>
  <h2>Предварительная регистрация</h2>
</div>
<div class="clear"></div>

{% if user.is_authenticated %}
<div class="grid_8 form">
  <form action="{% url event_registration event.id %}" method="POST">
    {% csrf_token %}
    {% load uni_form_tags %}
    {{ form|as_uni_form }}
    <div id="fm-submit">
      <input type="submit" value="Добавить" />
    </div>
  </form>
</div>
<div class="grid_4">
<a href="{% url download_reg_info event_id %}">Скачать список</a>
</div>
<div class="clear"></div>
{% endif %}
<div class="grid_10">
  {% if avail_regs %}
  <h2>Предыдущие регистрации</h2>
  <p>Вы можете использовать регистрационные данные, которые вводили раньше.</p>
    <table class="protocol">
      <thead>
        <tr class="head">
          <th align="left">№</th>
          <th>Фамилия Имя</th>
          <th>Пол</th>
          <th>Год</th>
          <th>
            <span class="widener">
              <span class="full">Звание</span>
              <span class="short">Зв.</span>
            </span>
          </th>
          <th>Город</th>
          <th>Клуб</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for r in avail_regs %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ r.full_name }}</td>
        <td>{{ r.get_sex_display }}</td>
        <td>{{ r.year }}</td>
        <td>{{ r.get_rank_display }}</td>
        <td>{{ r.city }}</td>
        <td>{{ r.club }}</td>
        <td>
          {% if r.by_user == user %}
          <a href = "{% url event_subscribe event.id r.id %}">зарегистрировать</a>
          {% endif %}
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <h2>Список участников</h2>
    <table class="protocol">
      <thead>
        <tr class="head">
          <th align="left">№</th>
          <th>Фамилия Имя</th>
          <th>Пол</th>
          <th>Год</th>
          <th>
            <span class="widener">
              <span class="full">Звание</span>
              <span class="short">Зв.</span>
            </span>
          </th>
          <th>Город</th>
          <th>Клуб</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for r in reg_list %}
        <tr{% if r.by_user == user %} class="hl"{% endif %}>
        <td>{{ forloop.counter }}</td>
        <td>{{ r.full_name }}</td>
        <td>{{ r.get_sex_display }}</td>
        <td>{{ r.year }}</td>
        <td>{{ r.get_rank_display }}</td>
        <td>{{ r.city }}</td>
        <td>{{ r.club }}</td>
        <td>
          {% if r.by_user == user %}
          <a href = "{% url event_unsubscribe event.id r.id %}">удалить</a>
          {% endif %}
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
    
{% endblock %}
