{% extends "base.html" %}
{% load pytils_dt %}
{% load pretty_print %}
{% load thumbnail %}
{% block title %}Предстоящие соревнования соревнование{% endblock %}
{% block content %}
<div class="grid_10">
  <h1>Предстоящие соревнования</h1>
  {% for year, comp_groups in events_groups %}
  {% if year != today.year %}
  <h1>{{ year }}</h1>
  {% endif %}
  {% for date, events in comp_groups %}
  <div class="event_group">
    <p class="date">{{ date|ru_strftime:"%d %b %a" }}</p>
    {% for event in events %}
    <div class="event">
      {% if event.image %}
      {% thumbnail event.image "75" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
      {% endthumbnail %}
      {% endif %}
      <h4 class="place">{{ event.place|default:"" }}</h4>
      <h5><a href="{% url event event.id %}">{{ event.name }}</a></h5>
      <div class="comps">
        {% for comp in event.competitions.all %}
        {% if forloop.first %}<div class="grid_1 alpha comp">
        {% else %}
        {% if forloop.last %}<div class="grid_1 omega comp">
        {% else %}
        <div class="grid_1 comp">
          {% endif %}
          {% endif %}
          {% if comp.processed %}
          <a href="{% url protocol comp.id %}">{{ comp }}</a>
          {% else %}
          <span>{{ comp }}</span>
          {% endif %}
        </div>  
        {% endfor %}
        </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  {% endfor %}
  <div class="pagination">
    {% if events.number == 2 %}
    <a href="{% url main %}">Предыдущие</a>
    {% else %}
    {% if events.has_previous %}
    <a href="?page={{ events.next_page_number }}&per_page={{ per_page }}">Предыдущие</a>
    {% endif %}
    {% endif %}
    {% if events.has_next %}
    <a href="?page={{ events.previous_page_number }}&per_page={{ per_page }}">Следующие</a>
    {% endif %}
  </div>
</div>
{% endblock %}
