{% extends "base.html" %}
{% load pytils_dt %}
{% load pretty_print %}
{% block content %}
<div class="grid_6">
  <h1>Прошедшие</h1>
  {% for year, comp_groups in past_groups %}
  {% if year != today.year %}
  <h1>{{ year }}</h1>
  {% endif %}
  {% for date, events in comp_groups %}
  <div class="event_group">
    <div class="date">{{ date|ru_strftime:"%d %b %a" }}</div>
    {% for event in events %}
    <div class="event">
      <div class="place">{{ event.place|default:"" }}</div>
      <div>
        <a href="{% url event event.id %}">{{ event.name }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  {% endfor %}
  <div class="pager">
    {% if past_page.has_next %}
    <a href="{% url past_events %}?page=2&per_page={{ per_page }}">Предыдущие</a>
    {% endif %}
  </div>
</div>
<div class="grid_6">
  <h1>Предстоящие</h1><a href="{% url add_event %}">Создать соревнование</a>
  {% for year, comp_groups in coming_groups %}
  {% if year != today.year %}
  <h1>{{ year }}</h1>
  {% endif %}
  {% for date, events in comp_groups %}
  <div class="event_group">
    <div class="date">{{ date|ru_strftime:"%d %b  %a" }}</div>
    {% for event in events %}
    <div class="event">
      <div class="place">{{ event.place|default:"" }}</div>
      <div>
        <a href="{% url event event.id %}">{{ event.name }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  {% endfor %}
  <div class="pager">
    {% if coming_page.has_next %}
    <a href="{% url future_events %}?page=2&per_page={{ per_page }}">Следующие</a>
    {% endif %}
  </div>
</div>
{% endblock %}
