{% extends "base.html" %}
{% load pytils_dt %}
{% load pretty_print %}
{% block content %}
<div class="grid_10">
  {% for p in places.object_list %}
  <div>
    <h2><a href="{% url place p.get_id %}">{{ p.name }}</a></h2>
  </div>
  {% endfor %}
  <div class="pagination">
    <span class="step-links">
      {% if places.has_previous %}
      <a href="?page={{ places.previous_page_number }}">Предыдущая</a>
      {% endif %}

      <span class="current">
        Страница {{ places.number }} из {{ places.paginator.num_pages }}.
      </span>

      {% if places.has_next %}
      <a href="?page={{ places.next_page_number }}">Следующая</a>
      {% endif %}
    </span>
  </div>
</div>
    
{% endblock %}
