{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<script src="http://api-maps.yandex.ru/1.1/index.xml?key=AODzFE0BAAAAoXcZYwIAG1u61AXDPbZD7AdmjO1-aSAjBZoAAAAAAAAAAABTlA6cYksJKJo4ORU9l6EgMBk7TQ==" type="text/javascript"></script>
{% if place.location %}
<script type="text/javascript">
        YMaps.jQuery(function() {
                var map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);        
                var loc = '{{ place.location}}'.split(',');
                var point = new YMaps.GeoPoint(loc[0], loc[1]);
                map.setCenter(point, 10);
                map.addControl(new YMaps.Zoom());
                place = new YMaps.Placemark(point);
                map.addOverlay(place);
        });
</script>
{% endif %}
{% endblock %}

{% block content %}
{% load markup %}

<div>
  <p>{{ place.name }}</p>
  <p>{{ place.address }}</p>
  {% if place.location %}
  <div id="YMapsID" style="width:600px;height:400px"></div>
  {% endif %}
  <div>{{ place.description|markdown }}</div>
  
</div>

{% endblock %}
