{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<script src="http://api-maps.yandex.ru/1.1/index.xml?key={{ MAPS_API_KEY }}" type="text/javascript"></script>
{% if place.location %}
<script type="text/javascript">
        YMaps.jQuery(function() {
                var map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);        
                var loc = '{{ place.location}}'.split(',');
                var point = new YMaps.GeoPoint(loc[0], loc[1]);
                map.setCenter(point, 10);
                map.addControl(new YMaps.Zoom());
                place = new YMaps.Placemark(point);
                map.addOverlay(place);
        });
</script>
{% endif %}
{% endblock %}

{% block content %}
{% load markup %}
<div class="grid_9">
  <h1>{{ place.name }}</h1>
  <p>{{ place.address }}</p>
</div>
<div class="grid_3">
  <a href="{% url edit_place place.get_id %}">Изменить</a>
</div>
<div class="clear"></div>
<div class="grid_10">
  {% if place.location %}
  <div id="YMapsID" style="width:600px;height:400px"></div>
  {% endif %}
  <div>{{ place.description|markdown }}</div>
</div>

{% endblock %}
