{% extends "base.html" %}
{% load i18n %}
{% load pytils_dt %}
{% load pretty_print %}
{% load markup %}
{% load pytils_numeral %}
{% load thumbnail %}
{% load gencal %}
{% load comments %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ias.js"></script>
<script type="text/javascript">
jQuery.ias({
  container     : ".event_list",
        // Enter the selector of the element containing
        // your items that you want to paginate.

  item      : ".month_events",
        // Enter the selector of the element that each
        // item has. Make sure the elements are inside
        // the container element.

  pagination    : "#content .navigation",
        // Enter the selector of the element that contains
        // your regular pagination links, like next,
        // previous and the page numbers. This element
        // will be hidden when IAS loads.

  next      : ".next-events a",
        // Enter the selector of the link element that
        // links to the next page. The href attribute
        // of this element will be used to get the items
        // from the next page.

  loader    : "{{ STATIC_URL }}img/loader.gif"
        // Enter the url to the loader image. This image
        // will be displayed when the next page with items
        // is loaded via AJAX.
});    
</script>
{% endblock %}

{% block content %}
<a class="btn btn-success" href="{% url add_event %}">Создать соревнование</a>

<div class="event_list">
    {% for event_days, imonth, iyear in months_events %}
    <div class="row month_events">
        <div class="span9">
            {% for day_events in event_days %}
                <div class="row">
                    <h4 class="span9" style="color:#990000;">
                        <a class="anchor" name="{{ day_events.date|urlencode }}" href="#{{ day_events.date|urlencode }}"></a>
                        {{ day_events.date|ru_strftime:"%d %B" }}
                    </h4>
                </div>
                {% for event in day_events.events %}
                    <div class="event">
                        <div class="row">
                            <div class="span9">
                                <p><strong><a href="{% url event event.id %}">{{ event.name }}</a></strong> {{ event.place }}</p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="span6">
                                <ul class="comp_list">
                                    {% for comp in event.competitions.all %}
                                        <li>
                                            {% if comp.processed %}
                                              <a href="{% url protocol comp.id %}">{{ comp }}</a>
                                            {% else %}
                                              <span>{{ comp }}</span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="span3">
                                {% if event.protocol_file %}
                                    <div>
                                        <i class="icon-download"></i><a href="/upload/{{ event.protocol_file.url }}">Протокол</a>
                                    </div>
                                {% endif %}

                                {% if event.terms_file %}
                                    <div>
                                        <i class="icon-download"></i><a href="/upload/{{ event.terms_file.url }}">Положение</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        {% get_comment_count for event as comment_count %}
                        {% if comment_count > 0 %}
                            <a href="{% url event event.id %}"><i class="icon-comment"></i>{{ comment_count }} комментари{{ comment_count|choose_plural:"ий,я,ев" }}</a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="span3">
            {% gencal event_days iyear imonth%}
        </div>
        
    </div>
    {% endfor %}
    {% if next_events_exists %}
    <div class="navigation">
            <div class="next-events">
                <a href="/protocols/{{ next_year }}-{{ next_month }}">Следующие</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
