{% extends "base.html" %}

{% load pytils_dt %}
{% load pretty_print %}




{% block content %}

{% for cg, dglist in comp_groups %}
<div class="season_res">
<h2 class="season">{{ cg }}
  <a class="anchor" name="{{ cg|urlencode }}" href="#{{ cg|urlencode }}">§</a></h2>
<div class="comp_list">
  {% for date, comp_list in dglist %}
  <div class="date">{{ date|ru_strftime:"%d %B" }}</div>
  {% for c in comp_list %}
  <div class="competition">    
    <div class="place">{{ c.place|default:"" }}</div>
    <div class="title">{{ c.name }}</div>
    {% for p in c.competitions.all %}
    <div class="protocol">
      <a href="{% url protocoller.miner.views.protocol p.id %}" >{{ p }}</a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  {% endfor %}
</div>
</div>
{% endfor %}
<div class="pager">
  <span class="step-links">
    {% if cl_page.has_previous %}
    <a href="?page={{ cl_page.previous_page_number }}">предыдущая</a>
    {% else %}
    <span>предыдущая</span>
    {% endif %}  
    
    {% if cl_page.has_next %}
    <a href="?page={{ cl_page.next_page_number }}">следующая</a>
    {% else %}
    <span>следующая</span>
    {% endif %}
    </span>
</div>
    
{% endblock %}

{% block right %}
<div class="hint">
На сайте собраны результаты соревнований по лыжным гонкам 
за несколько лет.
<p>
Кроме просмотра протоколов здесь можно также:
<ul>
  <li><a href="/search">искать</a> результаты спортсмена по его фамилии, имени;</li>
  <li><a href="/compare">сравнивать</a> результаты спортсменов между собой.</li>
</ul>
</div>
{% endblock %}
