{% extends "base.html" %}
{% load i18n %}
{% load pytils_dt %}
{% load pretty_print %}
{% load markup %}
{% load pytils_numeral %}
{% load thumbnail %}

{% block content %}
<div class="row">
  <div class="span2">
    <span>{{ event.date|ru_strftime:"%d %B %Y" }}</span>
    <h4><a href="{% url place event.place.slug %}">{{ event.place }}</a></h4>
  </div>
  <div class="span8">
    <h2>{{ event.name }}</h2>
  </div>
  <div class="span2">
    <a href="{% url edit_event event.id %}"><i class="icon-edit"></i>Редактировать</a>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h5>Дистанции</h5>
    <ul class="comp_list">
        {% for comp in event.competitions.all %}
          <li>
            {% if comp.processed %}
              <a href="{% url protocol comp.id %}">{{ comp }}</a>
            {% else %}
              <span>{{ comp }}</span>
            {% endif %}
          </li>
        {% endfor %}
    </ul>
    {% if event.protocol_file %}
        <div>
            <i class="icon-download"></i><a href="{{ event.protocol_file.url }}">Протокол</a>
        </div>
    {% endif %}

    {% if event.terms_file %}
        <div>
            <i class="icon-download"></i><a href="{{ event.terms_file.url }}">Положение</a>
        </div>
    {% endif %}
  </div>
  <div class="span6">
    {% if not event.is_past_due %}
      <h5>Предварительная регистрация
        {% if event.registration_open %}
          <a href="{% url event_registration event.id %}">открыта</a>
        {% else %}
          закрыта
        {% endif %}
      </h5>
      {% if regs_count > 0 %}
        <a href="{% url event_registration event.id %}">
          Заявил{{ regs_count|choose_plural:"ся,ись,ись" }} {{ regs_count }} участник{{ regs_count|choose_plural:",а,ов" }}
        </a>
      {% endif %}
    {% endif %}
  </div>
</div>
  
{% if event.description %}
<div class="row">
  <div class="span12">
    <h5>Описание</h5>
    {{ event.description|safe}}
  </div>
</div>
{% endif %}
{% if event.standing %}
<div class="row">
  <div class="span12">
    <h5>Положение</h5>
    {{ event.standing|safe}}
  </div>
</div>
{% endif %}

<div class="row">
  <div class="span8">
    {% load comments %}
    {% get_comment_count for event as comment_count %}
    {% if comment_count > 0 %}
    <h5>Комментарии</h5>
      {% get_comment_list for event as comment_list %}
      <table class="table">
        {% for comment in comment_list %}
          <tr><td><span class="comment-body">{{ comment.comment }}</span> &mdash; <a href="">{% print_user comment.user %}</a>
              <span class="muted">{{ comment.submit_date }}</span></td></tr>
        {% endfor %}
      </table>
    {% endif %}
    {% get_comment_form for event as comment_form %}
    <div id="add_comment">
      {% if user.is_authenticated %}
        <h5>Добавить комментарий</h5>
        <form action="{% comment_form_target %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}" />
            {{ comment_form.content_type }}
            {{ comment_form.object_pk }}
            {{ comment_form.timestamp }}
            {{ comment_form.security_hash }}
          <textarea name="comment" rows="3" id="id_comment" style="width: 95%;"></textarea>
          <button type="submit" class="btn">Отправить</button>
        </form>
      {% else %}
        <p>Чтобы добавить комментарий, Вам нужно <a href="{%url login %}">авторизоваться</a>.</p>
      {% endif %}
  </div>
  </div>
</div>

{% endblock %}
